<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyBookCollection.Properties.Settings.MyProjectDBConnectionString"
            connectionString="Data Source=.\SQLDB;Initial Catalog=MyProjectDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>